[Desktop Entry]
Name=PySol
Comment=A solitaire game collection
Comment[pl]=Kolekcja pasjansów
Icon=pysol.png
Exec=pysol
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;Game;CardGame;
# vi: encoding=utf-8
