[Desktop Entry]
Name=PySol
Comment=A solitaire game collection
Comment[pl]=Kolekcja pasjansów
Icon=pysol
Exec=pysol
Terminal=false
Type=Application
Categories=Game;CardGame;
# vi: encoding=utf-8
