[Desktop Entry]
Name=PySol
Comment=A solitaire game collection
Comment[pl]=Kolekcja pasjansów
Icon=pysol.png
Exec=/usr/X11R6/bin/pysol
Terminal=0
Type=Application
